

body
{
  /* background-image:url(../images/romantik.png);*/

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;




}

.bordertop
{
    border-top: 6px solid  #315b8a;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #455363;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #455999;
}

table {
  width:100%;
  font-size: 15pt;
}




h1 a, h2 a, h3 a, p a {
  text-decoration: none;
    color: #315b8a
}

h2 {color: #315b8a; }



h1, h2, h3, h4, h5 {text-decoration: none;
    font-family: "Trebuchet MS";

}


.sidebar_style p {
    font-size: 13pt;
    font-family: "Trebuchet MS";
    border-top: rgba(255,255,255, 0.1) 2px solid;
    padding-top: 10px;
    color:gray;
    margin-bottom: 0.5em!important;
      margin-top: 0.5em!important
}

.sidebar_style p:hover {

    border-top: #315b8a 2px solid;
    padding-top: 10px;
    color: #315b8a;
    cursor: pointer;
    margin-bottom: 0.5em!important;
      margin-top: 0.5em!important
}

.sidebar_style a:link {
text-decoration: none
}




.current {color: #315b8a!important;}


@media (max-width:950px){
    .sidebar_style {min-width: 40%!important}

}


@media (max-width:950px){
    .small {background: rgba(255, 255, 255, 1)!important}

}

#wrapper {
  margin-left: 15%;
  font-family: "Trebuchet MS";
}

@media (max-width:950px) {
    #wrapper {margin-left: 0};
}

@media (max-width:950px) {
    footer img {max-width: 50%!important; margin-left: auto; margin-right: auto; display: block};
}



/* mzt top content */
.mzt-content-top{
  position: relative;
  top: -350px;
  margin-bottom: -350px;

}



/*
=====================
Slideshow  stylesheet
=====================
*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}



/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*
=======================
embed youtube container
=======================
*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2%;

}
/* ratio 4x3 */
.embed-container.ratio4x3 {
  padding-bottom: 75%;
}
